* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-image: url("../photos/bg1.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    object-fit: contain;
    padding-top: 110px;
    overflow: hidden;
}

.navbar {
    /* background-color: #212529; */
    /* background-color: #343a40; */
    background-color: rgb(0 0 0 / 0.5);
    height: 110px;
    padding: 15px 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #ffffffdc;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.navbar:hover {
    border-color: aquamarine;
}

.navbar .logo img {
    width: 170px;
    cursor: pointer;
}

.navbar .logo img:hover {
    filter: brightness(0) saturate(100%) invert(74%) sepia(18%) saturate(631%) hue-rotate(100deg) brightness(103%) contrast(96%);
}

.navbar ul {
    list-style: none;
    gap: 25px;
    display: flex;
}

.navbar ul li,
.sidebar-nav ul li {
    position: relative;
}

.navbar ul li a,
.sidebar-nav ul li a {
    text-decoration: none;
    color: #ffffffdc;
    font-size: 20px;
    transition: 0.3s ease;
    display: inline-block;
    position: relative;
}

.navbar ul li a::before {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    left: 0;
    bottom: -3px;
    background-color: aquamarine;
    transition: 0.3s ease;
}

.navbar ul li a:hover,
.popup-content ul li a:hover,
.sidebar-nav ul li a:hover {
    color: aquamarine;
}

.navbar ul li a:hover::before,
.sidebar-nav ul li a:hover::before {
    width: 100%;
}

.secrch {
    transition: 0.3s ease;
}

.search input {
    padding: 7px 15px;
    border-radius: 25px;
    border: 2px solid #ffffffdc;
    outline: none;
    font-size: 17px;
    width: 150px;
    background-color: transparent;
    color: #ffffffdc;
    transition: 0.3s ease;
}

.search input:focus {
    width: 200px;
    background-color: transparent;
}

.search button {
    font-size: 17px;
    padding: 7px 15px;
    background-color: transparent;
    color: #ffffffdc;
    border: 2px solid #ffffffdc;
    border-radius: 25px;
    cursor: pointer;
}

.search input:hover,
.search input:hover::placeholder,
.search button:hover,
.login-container:hover,
.login-field input:hover,
.login-field input:hover::placeholder,
.login-form button:hover,
.login-field-checkbox label:hover,
.register-container:hover,
.register-field input:hover,
.register-field input:hover::placeholder,
.register-form button:hover,
.register-field-checkbox label:hover,
.register-popup:hover,
.register-popup button:hover,
.login-popup:hover,
.logout-popup:hover,
.category-popup-button:hover,
.tdaction button:hover {
    border-color: aquamarine;
    color: aquamarine;
}

.add-category-popup:hover {
    border-color: aquamarine;
}

.popup {
    display: none;
    position: fixed;
    top: 113px;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 1000;
    justify-content: flex-end;
}

.popup-content {
    background: rgb(0 0 0 / 0.9);
    padding: 20px;
    border: 2px solid #ffffffdc;
    border-radius: 5px;
    width: 225px;
    color: #ffffffdc;
}

.popup-content:hover,
.sidebar-nav:hover {
    border-color: aquamarine;
}

.popup-content ul {
    list-style: none;
}

.popup-content ul li {
    margin-bottom: 10px;
}

.popup-content ul li a {
    text-decoration: none;
    color: #ffffffdc;
    font-size: 17px;
    transition: 0.3s ease;
}

.popup-content ul li a i {
    margin-left: 7px;
}

.login-container,
.register-container {
    background-color: rgb(0 0 0 / 0.5);
    color: #ffffffdc;
    padding: 35px;
    margin: 35px auto;
    width: 30%;
    text-align: center;
    height: auto;
    border-radius: 25px;
    border: 2px solid #ffffffdc;
}

.login-field,
.register-field,
.register-popup-field {
    width: 100%;
    overflow: visible;
    margin: 30px 0;
}

.login-field input,
.register-field input {
    padding: 7px 15px;
    border-radius: 25px;
    border: 2px solid #ffffffdc;
    outline: none;
    font-size: 17px;
    width: 100%;
    background-color: transparent;
    color: #ffffffdc;
    box-sizing: border-box;
}

.login-field input:focus,
.register-field input:focus {
    background-color: transparent;
}

.login-field-checkbox,
.register-field-checkbox {
    padding: 7px 15px;
    font-size: 17px;
    width: 100%;
    background-color: transparent;
    color: #ffffffdc;
    display: flex;
    margin: 30px 0;
}

.login-form button,
.register-form button,
.register-popup button,
.category-popup-button {
    width: 35%;
    font-size: 17px;
    padding: 7px 15px;
    background-color: transparent;
    color: #ffffffdc;
    border: 2px solid #ffffffdc;
    border-radius: 25px;
    cursor: pointer;
}

.login-a ul,
.register-a ul {
    list-style: none;
    margin: 25px 0 0 0;
}

.login-a ul li,
.register-a ul li {
    position: relative;
}

.login-a ul li a,
.register-a ul li a {
    text-decoration: none;
    color: #ffffffdc;
    font-size: 17px;
    transition: 0.3s ease;
}

.login-a ul li a::before,
.register-a ul li a::before {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    left: 1;
    bottom: -3px;
    background-color: aquamarine;
    transition: 0.3s ease;
}

.login-a ul li a:hover,
.register-a ul li a:hover {
    color: aquamarine;
}

.login-a ul li a:hover::before {
    width: 157px;
}

.register-a ul li a:hover::before {
    width: 197px;
}

.main-container {
    height: calc(100vh - 110px);
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.main-container::-webkit-scrollbar {
    width: 7px;
}

.main-container::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, #ffffffdc, #000);
}

.main-container.scrolling::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, aquamarine, #000);
}

.main-container::-webkit-scrollbar-track {
    background-color: rgb(0 0 0 / 0.5);
}

.register-success-popup,
.login-success-popup,
.logout-success-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.register-popup,
.login-popup,
.logout-popup {
    background-color: rgb(0 0 0 / 0.5);
    border: 2px solid #ffffffdc;
    padding: 35px;
    border-radius: 25px;
    text-align: center;
    color: #ffffffdc;
    font-size: 17px;
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 25px;
    padding: 35px;
}

.product-box {
    background-color: rgb(0 0 0 / 0.5);
    border: 2px solid #ffffffdc;
    border-radius: 25px;
    padding: 35px;
    text-align: center;
    color: #ffffffdc;
    width: 300px;
    height: auto;
}

.sidebar-nav {
    position: fixed;
    top: 110px;
    left: 0;
    width: 200px;
    height: calc(100vh - 110px);
    background-color: rgb(0 0 0 / 0.5);
    padding: 20px;
    overflow-y: auto;
    border-right: 2px solid #ffffffdc;
    flex-shrink: 0;
}

.sidebar-nav ul {
    list-style: none;
    gap: 25px;
    display: flex;
    flex-direction: column;
}

.sidebar-nav ul li a::before {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    left: 0;
    bottom: -3px;
    background-color: aquamarine;
    transition: 0.3s ease;
}

.category-main {
    min-height: 400px;
    width: calc(100% - 200px);
    margin: 35px auto 0px 200px;
    background-color: rgb(0 0 0 / 0.5);
    border-radius: 30px;
    padding: 0px 20px 20px 20px;
    border: 2px solid #ffffffdc;
    color: #ffffffdc;
    flex-grow: 1;
}

.dashboard-body {
    display: flex;
}

.dashboard-main {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
}

/* ===== CATEGORY STYLES ===== */
.category-body {
    width: 500px;
    overflow-x: auto;
    padding: 20px;
}

.admin-body,
.user-body {
    width: 950px;
    overflow-x: auto;
    padding: 20px;
}

.tdaction button {
    width: 35%;
    font-size: 17px;
    padding: 7px 15px;
    background-color: transparent;
    color: #ffffffdc;
    border: 2px solid #ffffffdc;
    border-radius: 25px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.category-header {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 10px 20px;
}

.category-data table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

.category-data thead {
    border-bottom: 2px solid aquamarine;
}

.category-data th,
.category-data td {
    padding: 15px 20px;
    border-bottom: 1px solid #ffffff33;
    font-size: 16px;
}

.category-data tbody tr:hover {
    background-color: rgb(255 255 255 / 0.05);
}

.category-data th {
    color: aquamarine;
    text-align: center;
}

.tdsno,
.tdcategory,
.tdaction {
    text-align: center;
    vertical-align: middle;
}

.thcategory,
.tdcategory {
    width: 50%;
}

.thsno,
.tdsno {
    width: 10%;
}

.thaction,
.tdaction {
    width: 20%;
}

.tdaction i {
    font-size: 18px;
}

.popup-category,
.popup-edit-category {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 2rem;
    z-index: 1000;
}

.add-category-popup,
.edit-category-popup {
    border: 2px solid #ffffffdc;
    color: #ffffffdc;
    position: absolute;
    min-height: 250px;
    width: 35%;
    margin: 113px 39% 25px;
    background-color: rgba(0, 0, 0, 0.7);
    overflow: auto;
    border-radius: 30px;
    padding: 0px 20px 0px 20px;
}

.add-category-header,
.edit-category-header {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid aquamarine;
}

.add-category-field,
.edit-category-field {
    width: 100%;
    overflow: visible;
    margin: 21px 0;
    font-weight: bold;
}

.add-category-field input,
.edit-category-field input {
    padding: 7px 15px;
    border-radius: 25px;
    border: 2px solid #ffffffdc;
    outline: none;
    font-size: 17px;
    width: 100%;
    background-color: transparent;
    color: #ffffffdc;
    box-sizing: border-box;
}

.add-category-button button,
.edit-category-button button {
    width: 35%;
    font-size: 17px;
    padding: 7px 15px;
    background-color: transparent;
    color: #ffffffdc;
    border: 2px solid #ffffffdc;
    border-radius: 25px;
    cursor: pointer;
}

.close-btn,
.edit-category-close-btn {
    color: #ffffffdc;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-btn:hover,
.close-btn:focus,
.edit-category-close-btn:hover,
.edit-category-close-btn:focus {
    color: aquamarine;
    text-decoration: none;
}

/* ===== ADMIN STYLES ===== */
.dashboard-body {
    padding: 20px;
}

.admin-header {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
}

.admin-title {
    color: aquamarine;
    font-size: 24px;
}

.admin-popup-button {
    width: 35%;
    font-size: 17px;
    padding: 7px 15px;
    background-color: transparent;
    color: #ffffffdc;
    border: 2px solid #ffffffdc;
    border-radius: 25px;
    cursor: pointer;
}

.admin-body table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

.admin-body thead {
    border-bottom: 2px solid aquamarine;
}

.admin-body th,
.admin-body td {
    padding: 15px 20px;
    border-bottom: 1px solid #ffffff33;
    font-size: 16px;
}

.admin-body th {
    color: aquamarine;
    text-align: center;
}

.tdname,
.tdphone,
.tdemail {
    text-align: center;
    vertical-align: middle;
}

.thname,
.tdname,
.thphone,
.tdphone,
.themail,
.tdemail {
    width: 20%;
}

.thsno,
.tdsno {
    width: 10%;
}

.thaction,
.tdaction {
    width: 20%;
    text-align: center;
}

.admin-body tr:hover {
    background-color: rgb(255 255 255 / 0.05);
}

.popup {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 2rem;
    z-index: 1000;
}

.add-admin-popup {
    border: 2px solid #ffffffdc;
    color: #ffffffdc;
    position: absolute;
    min-height: 300px;
    width: 35%;
    margin: 100px 32% 25px;
    background-color: rgba(0, 0, 0, 0.7);
    overflow: auto;
    border-radius: 30px;
    padding: 0px 20px 20px 20px;
}

.add-admin-header {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid aquamarine;
}

.add-admin-title {
    font-size: 24px;
    font-weight: bold;
}

.add-admin-field {
    width: 100%;
    margin: 15px 0;
}

.add-admin-field input {
    padding: 7px 15px;
    border-radius: 25px;
    border: 2px solid #ffffffdc;
    outline: none;
    font-size: 17px;
    width: 100%;
    background-color: transparent;
    color: #ffffffdc;
    box-sizing: border-box;
}

.add-admin-button button {
    width: 35%;
    font-size: 17px;
    padding: 7px 15px;
    background-color: transparent;
    color: #ffffffdc;
    border: 2px solid #ffffffdc;
    border-radius: 25px;
    cursor: pointer;
}

.admin-popup-body {
    padding: 20px 0;
}