* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-image: url("../photos/bg1.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    object-fit: contain;
    padding-top: 110px;
    overflow: hidden;
}

.navbar {
    /* background-color: #212529; */
    /* background-color: #343a40; */
    background-color: rgb(0 0 0 / 0.5);
    height: 110px;
    padding: 15px 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #ffffffdc;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.navbar:hover {
    border-color: aquamarine;
}

.navbar .logo img {
    width: 170px;
    cursor: pointer;
}

.navbar .logo img:hover {
    filter: brightness(0) saturate(100%) invert(74%) sepia(18%) saturate(631%) hue-rotate(100deg) brightness(103%) contrast(96%);
}

.navbar ul {
    list-style: none;
    gap: 25px;
    display: flex;
}

.navbar ul li {
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: #ffffffdc;
    font-size: 20px;
    transition: 0.3s ease;
}

.navbar ul li a::before {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    left: 0;
    bottom: -3px;
    background-color: aquamarine;
    transition: 0.3s ease;
}

.navbar ul li a:hover,
.popup-content ul li a:hover {
    color: aquamarine;
}

.navbar ul li a:hover::before {
    width: 100%;
}

.secrch {
    transition: 0.3s ease;
}

.search input {
    padding: 7px 15px;
    border-radius: 25px;
    border: 2px solid #ffffffdc;
    outline: none;
    font-size: 17px;
    width: 150px;
    background-color: transparent;
    color: #ffffffdc;
    transition: 0.3s ease;
}

.search input:focus {
    width: 200px;
    background-color: transparent;
}

.search button {
    font-size: 17px;
    padding: 7px 15px;
    background-color: transparent;
    color: #ffffffdc;
    border: 2px solid #ffffffdc;
    border-radius: 25px;
    cursor: pointer;
}

.search input:hover,
.search input:hover::placeholder,
.search button:hover,
.login-container:hover,
.login-field input:hover,
.login-field input:hover::placeholder,
.login-form button:hover,
.login-field-checkbox label:hover,
.register-container:hover,
.register-field input:hover,
.register-field input:hover::placeholder,
.register-form button:hover,
.register-field-checkbox label:hover {
    border-color: aquamarine;
    color: aquamarine;
}

.popup {
    display: none;
    position: fixed;
    top: 113px;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 1000;
    justify-content: flex-end;
}

.popup-content {
    background: rgb(0 0 0 / 0.5);
    padding: 20px;
    border: 2px solid #ffffffdc;
    border-radius: 5px;
    width: 225px;
    color: #ffffffdc;
}

.popup-content:hover {
    border-color: aquamarine;
}

.popup-content ul {
    list-style: none;
}

.popup-content ul li {
    margin-bottom: 10px;
}

.popup-content ul li a {
    text-decoration: none;
    color: #ffffffdc;
    font-size: 17px;
    transition: 0.3s ease;
}

.popup-content ul li a i {
    margin-left: 7px;
}

.login-container,
.register-container {
    background-color: rgb(0 0 0 / 0.5);
    color: #ffffffdc;
    padding: 35px;
    margin: 35px auto;
    width: 30%;
    text-align: center;
    height: auto;
    border-radius: 25px;
    border: 2px solid #ffffffdc;
}

.login-field,
.register-field {
    width: 100%;
    overflow: visible;
    margin: 30px 0;
}

.login-field input,
.register-field input {
    padding: 7px 15px;
    border-radius: 25px;
    border: 2px solid #ffffffdc;
    outline: none;
    font-size: 17px;
    width: 100%;
    background-color: transparent;
    color: #ffffffdc;
    box-sizing: border-box;
}

.login-field input:focus,
.register-field input:focus {
    background-color: transparent;
}

.login-field-checkbox,
.register-field-checkbox {
    padding: 7px 15px;
    font-size: 17px;
    width: 100%;
    background-color: transparent;
    color: #ffffffdc;
    display: flex;
    margin: 30px 0;
}

.login-form button,
.register-form button {
    width: 35%;
    font-size: 17px;
    padding: 7px 15px;
    background-color: transparent;
    color: #ffffffdc;
    border: 2px solid #ffffffdc;
    border-radius: 25px;
    cursor: pointer;
}

.login-a ul,
.register-a ul {
    list-style: none;
    margin: 25px 0 0 0;
}

.login-a ul li,
.register-a ul li {
    position: relative;
}

.login-a ul li a,
.register-a ul li a {
    text-decoration: none;
    color: #ffffffdc;
    font-size: 17px;
    transition: 0.3s ease;
}

.login-a ul li a::before,
.register-a ul li a::before {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    left: 1;
    bottom: -3px;
    background-color: aquamarine;
    transition: 0.3s ease;
}

.login-a ul li a:hover,
.register-a ul li a:hover {
    color: aquamarine;
}

.login-a ul li a:hover::before {
    width: 157px;
}

.register-a ul li a:hover::before {
    width: 197px;
}

.main-container {
    height: calc(100vh - 110px);
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.main-container::-webkit-scrollbar {
    width: 7px;
}

.main-container::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, #ffffffdc, #000);
}

.main-container.scrolling::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, aquamarine, #000);
}

.main-container::-webkit-scrollbar-track {
    background-color: rgb(0 0 0 / 0.5);
}